assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/.svn
/api/web/wx_notify.txt
/admin/config/main-local.php
/admin/config/params-local.php
/admin/web/index.php
/.idea
/wine.php
/git.log
/gitConfig.php
/pull.sh
/local.zip
/photo
