@charset "utf-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {	
	color: #666;
	background-color: #f7f8f3;
}

a {
	color: inherit;
	text-decoration: none;
	background: transparent
}

a:focus, a:hover, a:active {
	text-decoration: none;
}

img {
	max-width: 100% !important;
	vertical-align: middle;	
}

button, input, select, optgroup, textarea {
    font: inherit;
    color: inherit; 
    border: none;
    background-color: transparent;
    vertical-align: middle;
}

input, select {
    -webkit-appearance: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-calendar-picker-indicator {
  display:none;
}

button, select {
    text-transform: none;
}

button[disabled], html input[disabled] {
    cursor: default;
}

.btn {		
	width: 100%;
	padding: 0.3125rem 0;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background-color: #10a4fe;
	border-radius: 4px;	
}

/*分享页面*/

.browser .pic > img {
	width: 100%;
}

.browser .qr_wrapper {
	padding: 0.3125rem 0;
	text-align: center;
}

.browser .qr_wrapper > img {
	width: 25%;
}

.browser .download {	
	margin-top: 0.5rem;
	width: 50%;
}

/*关于我们*/

.contanier {
	padding: 0.375rem;
	overflow: hidden;
}

.title {
	margin-top: 0.375rem;
	margin-bottom: 0.375rem;
	font-size: 18px;
	font-weight: 600;
	color: #222;
}

.information {
	font-size: 14px;
	text-align: justify;
	color: #333;
}

.information li {
	margin-top: 0.25rem;
	line-height: 24px;;
}

