.wine-wrap{width:340px; height:400px;display: none}
.wine-wrap h3{font-size: 16px; text-align: center;}
.wine-wrap .wine-title .fl,.wine-wrap .wine-title .fr{width:48%;}
.wine-wrap .wine-title .fl{text-align:left;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;word-break:break-all;word-wrap:break-word; }
.wine-wrap .wine-title .fr{ text-align: right;}
.wine-wrap p.addre{ font-size: 12px; line-height: 25px;word-break:break-all;word-wrap:break-word;}
.wine-wrap table.wine-det th{ min-width:65px; text-align: right; font-size:11px;}
.wine-wrap table.wine-det td{font-size:11px;}
.wine-wrap table.wine-price th{ text-align: right;min-width: 40px;font-size:11px;}
.wine-wrap table.wine-price td{ text-align: right;font-size:11px;}
.wine-wrap table.wine-price td:first-child,.wine-wrap table.wine-price th:first-child{ text-align: left;}
.wine-wrap p.tips{ line-height: 18px;}
.bordbblue{ border-bottom: 1px dashed #516997;}